
.background {

    -fx-background-color: limegreen;
}
#l.list-view .list-cell  {
    -fx-background-color: limegreen;
    -fx-background-insets: 0 ;

}
#rukaPole.list-view .list-cell  {
    -fx-background-color: antiquewhite;
    -fx-background-insets: 0 ;

}
